html{
    text-size-adjust: 100%;
}
body{
    margin: 0;
    font-family: "Muli", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #dadada;
    text-align: left;
    line-height: 24px;
}
.med{
    display: flex; 
    width: 120rem; 
    font: 15px; 
    background:#2D2F35; 
    height:auto!important;
    min-height:1000px;
}
.med .right{
    width: 104rem; background: #22242A
}
a{
    color:  #8a8d93;;
    text-decoration: none;
}
i, span, strong {
    display: inline-block;
}
li {
    list-style-type:none;
    display: list-item;
    text-align: -webkit-match-parent;
}
section{
    padding: 0 1rem;
}
.index-select{
    width: 6rem;
}

.item{  height: 100px; border-right: 1px solid lightgray;flex-grow:1;}

nav#sidebar {
    width: 16rem;
    font-weight: 800;
    background: #2d3035;
    color: #6a6c70;
    border-right: 1px solid #34373d;
}
nav#sidebar .login-detail{
    padding: 30px 20px;
    align-items: center!important;
    border-bottom: 1px solid #34373d;
}
nav#sidebar .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    background: none;
    padding: 4px;
    border: 3px solid #282b2f;
}
nav#sidebar span.heading {
    padding-top: 20px;
    font-weight: 700;
    margin-left: 20px;
    color: #494d53;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
nav#sidebar li {
    position: relative;
}
nav#sidebar li a {
    padding: 18px 20px;
    display: block;
    font-weight: 800;
    font-size: 22px;
    padding-left: 60px;
    color: #eff1f5;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.img-fluid {
    max-width: 100%;
    border-radius: 50%!important;
    height: 46px;
    vertical-align: middle;
    border-style: none;
}

nav#sidebar li.active::before {
    background: #DB6574;
}
nav#sidebar li::before {
    content: '';
    width: 4px;
    height: 100%;
    display: block;
    position: absolute;
}

li.active > a {
    background: #34373d;
    color: #bfc1c4;
}

select{
    height: 1.3rem;
    font-weight: 700;
    font-size: 18px;
    color: #414141;
}

.page-header {
    padding-bottom: 0;
    background: #2d3035;
    color: #dadada;
    margin-bottom: 30px;
    font-weight: 700;
}

section .no-padding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 80rem;
}

.container-fluid {
    display: flex;
    width: 70rem;
    padding-right: 15px;
    padding-left: 15px;
    /* padding-bottom: 1.5rem; */
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 25rem;
}
.row-right{
    width: 47rem;
    padding-bottom: 1rem;
}
.col {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.block {
    width: 20rem;
    padding: 20px;
    background: #2d3035;
    color: #8a8d93;
    margin-bottom: 2rem;
}
.content{
    justify-content: space-between!important;
    align-items: flex-end!important;
}
.right-content{
    font-size: 2.7rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}
/* input,button,a {
    outline:0 none !important;
} 
input[type=button]:focus,
input[type=submit]:focus,
button:focus {
  outline: none;
}
 
button::-moz-focus-inner,
input[type=button]::-moz-focus-inner {
  outline: none;
} */
/* input[type=button],input[type=submit]{
    background-color: #494d53;
    color: #8a8d93;
    font-size: 0.8rem;
    border: 0;
    width: 5rem;
    height: 2rem;
} */
input[type='submit'], button{
    cursor: pointer;
}
.oo-mean{
    padding-left: 2rem ;width: 8rem;height: 3.5rem;line-height:3.5rem
}

.se-second-meau{
    background-color: #34373d;
    font-weight: 700;
    color: #dee1e4;
    font-size: 1.2rem;
    border: 0;
    width: 8rem;
    height: 3.5rem;
    border-bottom: 2.2px solid #DB6574;
}


.second-meau{
    background-color: #2d3035;
    font-weight: 700;
    color: #f5f6f8;
    font-size: 1.15rem;
    border: 0;
    width: 8rem;
    height: 3.5rem;
    border-bottom: 2.2px;
}


.textarea-st{
    border:0;
    border-radius:1px;
    background-color: #d9dbdf;
    width:69.7rem;height: 745px;
    padding: 3px;resize: none;
    font-size: 18px;
    font-weight: 550;
    outline: none; 
    resize: none;
}

.textarea-t{
    display: flex;
    border:0;
    border-radius:1px;
    background-color: #d9dbdf;
    width:70rem;height: 750px;
    padding: 3px;resize: none;
    outline: none; 
    resize: none;
}
.textarea-dis{
    color:  #d4d2d2; 
    background: #34373d; 
    font-weight: 600;
    font-size: 18px;
    width: 100%; 
    height: 15.8rem; 
    border:none;
    outline: none; 
    resize: none;
}

.bootom-sty{
    font-size: 16px;
    font-weight: 600;
    color: #3c3c3d;
}

.tblock{
    padding-right: 15px;
    padding-left: 15px;
}

.tblock .text{
    width: 1260px;
    background:#2D2F35;
}

.meau{
    width: 200px; 
    font-size: 25px;
}


.selectric-cs{
    height: 30px;
    width: 80px;
}

.row1{
    border-bottom: 1px solid #34373d;
    height: 8rem; 
    display: flex;
}
.row1 .col1{
    display: flex;
    width: 35rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
.row2{
    border-bottom: 1px solid #34373d;
    display: flex;
    height: 8rem; 
}
.row2 .col1{
    width: 35rem;
    height: 6rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.row3{
    border-bottom: 1px solid #34373d;
    display: flex;
    height: 8rem; 
}
.row3 .col1{
    width: 35rem;
    height: 6rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.row4{
    display: flex;
    border-bottom: 1px solid #34373d;
    height: 13rem; 
}
.row4 .col2{ 
    width: 35rem;   
    padding: 1rem;
    position: inherit;
    padding-top: 6rem;
    padding-bottom: 2rem;
}
.row4 .col1{
    width: 35rem;
    height: 8rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.row5{
    border-bottom: 1px solid #34373d;
    height: 11rem; 
}
.row5 .col1{
    width: 35rem;
    height: 8rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.row5 .col2{
    width: 35rem;
    line-height: 2rem;
    height: 2rem; 
    padding-left: 1rem;
    padding-right: 1rem;
}

.row6{
    border-bottom: 1px solid #34373d;
    display: flex;
    height: 10rem; 
}
.row6 .col1{
    width: 35rem;
    height: 3rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.language1{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.text-control{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
    width: 35rem;
    resize:none;
    height: 8rem;
    background-color: #d9dbdf;
}

.text-detail{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 30rem;
    height: 6rem;
    resize:none;
    background-color: #d9dbdf;
}

.no-name{
    display: flex;
    padding: 0 1rem;
    background: #34373d;
}
.bottom{
    width: 90rem;
    height: 10rem;
    background: #22242A;
}

.addplug-language{
    font-size: 16px;
    width: 20rem;
    height: 1.5rem;
    background-color: #d9dbdf;
}
.addplug-image{
    font-size: 16px;
    width: 20rem;
    height: 1.5rem;
    background-color: #d9dbdf;
}
.addplug-commit{
    width: 8rem;
    height: 3rem;
    background-color: #30e4b7;
    color: white;
    font-size: 22px;
    font-weight: 800;
    border-radius: 3rem;
    border: none;
}
.addplug-files{
    height: 3rem;
    width: 16rem;
    font-size: 15px;
}
td {
    font-weight: 900 !important;
    /* font-family: "Calibri (Body)"; */
    letter-spacing:.015em;
    /* font-size: 25px; */
}
.meg{
    color: #f5f6f8;
}