
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>增加接口</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/imags/favicon32.ico"/>
    <link rel="stylesheet" href="static/css/body.css">
    <link rel="stylesheet" href="static/css/header.css" >
    <script type="text/javascript" src="../static/js/position.js"></script>
</head>

<body>
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="left-header-div">
                        <a href="{{ url_for('index') }}" class="left-header-brand">
                            <strong class="text-primary">
                                ICU
                            </strong>
                            预警框架
                        </a>
                    </div>
                    <div class="right-header-div">
                        基于WEB的ICU接口设计与实现
                    </div>
                </div>
            </nav>
        </header>
        
<div class="med">
    <nav id="sidebar">
            <div class="login-detail d-flex">
                <div class="avatar">
                    <img src="../static/imags/p2.jpg" alt="..." class="img-fluid">
                </div>
                <div style="width: 120px;">
                        登录信息
                </div>
            </div>
            <span class="heading">Meau</span>
            <li >
                <a href="{{ url_for('index') }}">
                    主页
                </a>
                
            </li>
            <li >
                    <a href="{{ url_for('result') }}">
                        结果
                    </a>
            </li>
            <li class="active">
                    <a href="{{ url_for('addplug') }}">
                        增加接口
                    </a>
            </li>
            <li>
                    <a href="{{ url_for('manage') }}">
                        管理接口
                    </a>
            </li>
            <li>
                    <a href="{{ url_for('login') }}">
                        登录
                    </a>
            </li>
            <li >
                    <a href="{{ url_for('help') }}">
                        帮助
                    </a>
            </li>
    </nav>

    <div class="right">
        <div class="page-header"> 
            <div class="oo-mean">
                增加接口
            </div>   
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
        <div style="width: 80rem;padding-left: 3rem;">
            <div style="background: #2D2F35;">
                <div class="row1">
                    <div class="col1">
                            <div id="language1" >
                                {{myform.language.label}} 
                                {{myform.language(class="addplug-language")}} 
                            </div>
                    </div>
                    <div class="col1">
                            <div id="language" >
                                    {{myform.pluginname.label}} 
                                    {{myform.pluginname(id='pluginname',class="addplug-language") }}
                                </div>
                                <div style="color: rgb(211, 80, 48);">
                                    {{get_flashed_messages()[0]}}
                                </div>
                    </div>
                </div>
                <div class="row2">
                    <div class="col1" style="padding-top: 3rem;">
                        {{myform.inputfilename.label}}  
                        {{myform.inputfilename(id='inputfilename', class="addplug-language")}}
                    </div>
                    <div class="col1">
                        {{myform.inputtype.label}}
                        {{myform.inputtype(id='inputtype',style="width: 10rem;")}}
                    </div>
                </div>
                <div class="row4">
                    <div class="col2">
                        {{myform.sources.label}}
                        {{myform.sources(id='sources', class='addplug-image')}}
                    </div>
                    <div class="col1">
                        {{myform.textarea.label}}
                        {{myform.textarea(id='textarea')}}
                    </div>
                </div>
                <div class="row5"> 
                    <div style="display: flex; padding: 1rem; padding-left: 5rem; padding-top: 3rem;">
                        <button id='last' style="background-color: transparent !important;outline: 0; border-radius: 2rem; padding: 0; border: 0; width: 2rem; height: 2rem; " onclick="return substitute(this);">
                            <img src="./static/imags/left.ico" style="width: 2rem; height: 2rem;" alt="">
                        </button>
                        <div>
                            <input readonly style="text-align:center;color: #8a8d93; font-size: 25px; font-weight: 600; width: 10rem; background-color: transparent !important; outline: 0; resize:  0; border: 0;" id='selectlabel' name='selectlabel' value="多文件上传">
                        </div>
                        <button id='next' style="background-color: transparent !important;outline: 0; border-radius: 2rem; padding: 0; border: 0; width: 2rem; height: 2rem; " onclick="return substitute(this);">
                            <img src='./static/imags/right.ico' onclick="return substitute(this);" style="width: 2rem; height: 2rem;">
                        </button>
                    </div>    
                    <div style="display: flex;">
                        <div id='row5rcol1' class="col1">
                            {{myform.pluginfile.label}}
                            {{myform.pluginfile(multiple='multiple', id='pluginfile1')}}
                        </div>
                        <div class="col2">
                            {{ myform.runCommand.label }}
                            {{ myform.runCommand(id='runCommand',class="addplug-language") }}
                        </div>
                        
                    </div>
                </div>
                <div class="row6"> 
                    <div class="col1">
                            {{myform.detail.label}}<br>
                            {{myform.detail(id='detail')}}
                    </div>
                    <div class="col1" style="padding-top: 3.5rem; padding-left: 10rem;">
                        <!-- {{myform.save(onclick='return submit11(this.form);')}}<br> -->
                        {{myform.pulish(class='addplug-commit')}}
                    </div>
                </div>
            </div>
            <div style="height: 5rem;">

            </div>
        </div>
    </form>
    </div>
        
            
    </div>

</div>




</body>
</html>
