
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>登录</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/imags/favicon32.ico"/>
    <link rel="stylesheet" href="../static/css/body.css">
    <link rel="stylesheet" href="../static/css/header.css" >
    <script type="text/javascript" src="../static/js/position.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
    <script>
        $(function() {
            // body...
            $("#btn").click(function(){
                $.ajax({
                url: "login/ttt",
                type: "POST",
                dataType: "json",
                success: function (data) {
                alert(data);
                $("#Name").val(data.x);
                // $("#AGE2").val(data.age);
                console.log(data)}
                })
            })
        })
    </script>
</head>

<body>
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="left-header-div">
                        <a href="{{ url_for('index') }}" class="left-header-brand">
                            <strong class="text-primary">
                                ICU
                            </strong>
                            预警框架
                        </a>
                    </div>
                    <div class="right-header-div">
                        基于WEB的ICU接口设计与实现
                    </div>
                </div>
            </nav>
        </header>
        
<div class="med">
    <nav id="sidebar">
            <div class="login-detail d-flex">
                <div class="avatar">
                    <img src="../static/imags/p2.jpg" alt="..." class="img-fluid">
                </div>
                <div style="width: 120px;">
                        登录信息
                </div>
            </div>
        <span class="heading">Meau</span>
        <li >
            <a href="{{ url_for('index') }}">
                主页
            </a>
            
        </li>
        <li >
                <a href="{{ url_for('result') }}">
                    结果
                </a>
        </li>
        <li>
                <a href="{{ url_for('addplug') }}">
                    增加接口
                </a>
        </li>
        <li>
                <a href="{{ url_for('manage') }}">
                    管理接口
                </a>
        </li>
        <li class="active">
                <a href="{{ url_for('login') }}">
                    登录
                </a>
        </li>
        <li>
                <a href="{{ url_for('help') }}">
                    帮助
                </a>
        </li>
    </nav>

    <div class="right">
        <div class="page-header"> 
            <div class="oo-mean">
                登录
            </div>   
        </div>
        <section>
            <form action="" method="POST">
                    <div id='test1' style="height: 5rem; background: #34373d;">
                        登录页还没做呢！
                    </div>
                    <div id="test2" style="width: 30rem; height: 10rem;">
                        <textarea name="ttarea" id="ttarea" style="width: 100%; height: 100%;"></textarea>
                    </div>
            </form>
            <input type="text" id="Name">
            <button id="btn">111111111</button>
        </section>
        
    </form> 
            
    </div>

</div>




</body>
</html>
